<form method="GET" action="{{ path('app_search') }}">
    <div class="row">
        <div class="col-md-9">
            <input name="q" value="{{ term }}" placeholder="Search..." class="form-control">
        </div>
        <div class="col-md-3">
            <button class="search btn btn-primary w-100 text-uppercase">Search</button>
        </div>
    </div>
</form>
