@import "~bootstrap/scss/bootstrap.scss";


body {
    background-color: #eee;
    color: #464646;
}


.vacancy__section {
    margin: 0 0 14px;
    background-color: #fff;
    border-radius: 3px;
    padding: 16px 24px 28px;
}

.vacancy__header-title h1 {
    font-size: 25px;
}

.vacancy__header-date {
    width: min-content;
    white-space: nowrap;
    color: #999;
    font-size: 14px;
    line-height: 1.2857;
}

.section__content {
    margin-top: 16px;
}

.section__content .section__content-header {
    margin-bottom: 4px;
    font-size: 15px;
    font-style: inherit;
    font-weight: 400;
    color: #999;
}

.section__content .section__content-body ul {
    display: flex;
}

.section__content .section__content-body ul li {
    margin-right: 30px;
    font-size: 15px;
}


.vacancy__section .section__title {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ededed;

    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.27777;
}


.vacancy__description h3 {
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 24px;
}

.company {
    text-align: center;
    padding: 30px 17px 15px;
    position: relative;
}


.company__logo {
    background-color: #fff;
    display: block;
    text-align: center;
    min-height: 50px;
    line-height: 50px;
    overflow: hidden;
    max-width: 150px;
    margin: 0 auto 27px;
}

.company__logo img {
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    vertical-align: middle;
}

.company__name {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 700;
    color: #464646;
    word-wrap: break-word;
}

.company__name a {
    color: #464646;
    vertical-align: middle;
}

.company__about {
    color: #999;
    font-size: 15px;
    line-height: 23px;
}

.company__link {
    font-weight: 700;
    font-size: 15px;
}